# nba-2019-2020-analysis

- https://www.kaggle.com/code/jamesalbarracin/nba-2k20-data-analysis-visualization

In [1]:
# import libraries
import numpy as np
import pandas as pd

import plotly.express as px
import plotly.graph_objs as go

from datetime import date
from iso3166 import countries

In [3]:
!ls ./data
!ls ./data/nba2k20-full.csv

nba2k20-full.csv
./data/nba2k20-full.csv

In [4]:
# load data
df = pd.read_csv('./data/nba2k20-full.csv')
df.head()

,full_name,rating,jersey,team,position,b_day,height,weight,salary,country,draft_year,draft_round,draft_peak,college
0,LeBron James,97,#23,Los Angeles Lakers,F,12/30/84,6-9 / 2.06,250 lbs. / 113.4 kg.,$37436858,USA,2003,1,1,NaN
1,Kawhi Leonard,97,#2,Los Angeles Clippers,F,06/29/91,6-7 / 2.01,225 lbs. / 102.1 kg.,$32742000,USA,2011,1,15,San Diego State
2,Giannis Antetokounmpo,96,#34,Milwaukee Bucks,F-G,12/06/94,6-11 / 2.11,242 lbs. / 109.8 kg.,$25842697,Greece,2013,1,15,NaN
3,Kevin Durant,96,#7,Brooklyn Nets,F,09/29/88,6-10 / 2.08,230 lbs. / 104.3 kg.,$37199000,USA,2007,1,2,Texas
4,James Harden,96,#13,Houston Rockets,G,08/26/89,6-5 / 1.96,220 lbs. / 99.8 kg.,$38199000,USA,2009,1,3,Arizona State

In [5]:
print('Top rating presented in dataset: ', df['rating'].max())
print('Low rating presented in dataset: ', df['rating'].min())

Top rating presented in dataset:  97
Low rating presented in dataset:  67